---
import Layout from "@/layouts/Layout.astro";
import SectionContainer from "@/components/SectionContainer.astro";
import faqData from "@/data/faqData.json";
import testimonialData from "@/data/testimonialData.json";
import featuresData from "@/data/featuresData.json";
import { Icon } from "astro-icon";
import Accordion from "@/components/Accordion.astro";
import HomeBanner from "@/components/HomeBanner.astro";
import { MotionBTTContainer } from "@/components/motion/MotionBTTContainer";
import BadgeGroup from "@/components/badge/BadgeGroup.astro";
import BadgeMessage from "@/components/badge/BadgeMessage.astro";
import PageTitle from "@/components/PageTitle.astro";
import Content from "@/components/Content.astro";
import ContentImage from "@/components/ContentImage.astro";
import BadgeIcon from "@/components/badge/BadgeIcon.astro";
import CardGroup from "@/components/card/CardGroup.astro";
import Card from "@/components/card/Card.astro";
import CardBody from "@/components/card/CardBody.astro";
import CardImage from "@/components/card/CardImage.astro";
import CardHeader from "@/components/card/CardHeader.astro";
import Column from "@/components/Column.astro";
---

<Layout
    title="NutriTrack - A landing page template 🚀"
    description="Discover NutriTrack, the effortless way to plan your meals with the power of Notion. Streamline your nutrition journey and achieve your health goals with ease."
>
    <div class="main-wrapper bg-[#F3F5F8] relative z-10 pb-20 pt-20">
        <HomeBanner />
        <!-- Home Banner -->
        <SectionContainer
            class="components--container wrap wrap-px grid gap-8 sm:gap-24"
        >
            <SectionContainer id="features" class="features">
                <BadgeGroup alignment="center">
                    <BadgeMessage>Features</BadgeMessage>
                    <BadgeIcon icon="mdi:star-circle-outline" />
                </BadgeGroup>
                <PageTitle class="text-center mx-auto" type="default">
                    make your wedding special
                </PageTitle>
                <Content class="text-center" alignment="center">
                    <p>
                        Some things in a wedding party such as 'dad kisses mom'
                        in front of the crowd, niece who are fascinated by the
                        bride, or children showing affection for each other
                        through hugs, or things that have sentimental value.
                        These are all things we don't want to miss, because we
                        believe it is virtue that creates a recollections
                    </p>
                </Content>
                <ContentImage contentImageData={featuresData} />
            </SectionContainer>
            <!-- Features -->
            <SectionContainer class="feature-tabs">
                <BadgeGroup alignment="center">
                    <BadgeMessage>More Features</BadgeMessage>
                    <BadgeIcon icon="twemoji:waving-hand" />
                </BadgeGroup>
                <PageTitle class="text-center mx-auto" type="default">
                    From Ceremony to Reception
                </PageTitle>
                <Content class="text-center" alignment="center">
                    <p>
                        explores the art of storytelling through wedding
                        photography, highlighting how to weave together the
                        narrative of the wedding day through carefully chosen
                        shots.
                    </p>
                </Content>
                <CardGroup
                    class="grid scroll-m-24 gap-8 grid-cols-1 max-w-4xl mx-auto mt-24 md:grid-cols-2"
                >
                    <Card class="col-span-1 text-primary-900">
                        <CardBody class="w-full bg-white-600/20 p-12">
                            <CardImage
                                src="/images/wedd8.jpg"
                                alt="Customizable Layouts image used."
                            />
                            <CardHeader
                                class="!text-black !text-2xl !font-bold"
                            >
                                Timeless works of art
                            </CardHeader>
                            <p>
                                Access photos easily, quickly, and save time and
                                effort. Get the experience you want and need.
                            </p>
                        </CardBody>
                    </Card>
                    <Card class="col-span-1 text-primary-900">
                        <CardBody class="w-full bg-white-600/20 p-12">
                            <CardImage
                                src="/images/wedd7.jpg"
                                alt="Progress Tracking image used."
                            />
                            <CardHeader
                                class="!text-black !text-2xl !font-bold"
                            >
                                Free consultation
                            </CardHeader>
                            <p>
                                Free consultation to help clients choose the
                                right service, We strive to offer a personalized
                                and affordable experience to all our clients
                            </p>
                        </CardBody>
                    </Card>
                </CardGroup>
            </SectionContainer>
            <!-- More Features -->
            <SectionContainer id="testimonials" class="benefits">
                <BadgeGroup alignment="left">
                    <BadgeMessage>Testimonials</BadgeMessage>
                    <BadgeIcon icon="twemoji:waving-hand" />
                </BadgeGroup>
                <PageTitle class="" type="default">
                    My goal is not only to create beautiful pictures but to
                    preserve meaningful memories to treasure.
                </PageTitle>
                <Column columnData={testimonialData} />
            </SectionContainer>
            <!-- Testimonials -->
            <!-- <SectionContainer id="faq" class="faq">
                <BadgeGroup alignment="center">
                    <BadgeMessage>FAQ</BadgeMessage>
                </BadgeGroup>
                <PageTitle class="text-center mx-auto" type="default">
                    Punya pertanyaan menarik tentang Teman Menua?
                    <br />
                    <br />
                    Jangan khawatir! Kami punya jawaban yang Anda perlukan::
                </PageTitle>
                <Accordion accordionData={faqData} />
            </SectionContainer> -->
        </SectionContainer>
    </div>
    <!-- FAQ -->
</Layout>
<!-- Components Container -->
